@import "bootstrap/dist/css/bootstrap.min.css";
@import "nav_button.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.table-rows td {
    text-align: left;
}

input:disabled,
input.disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}
